spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/clinicaldb
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgres
  
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    za.co.ccos: INFO
    org.springframework: WARN
